<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="BulkDataPath" value="C:\courtlistener" />
    </appSettings>
    <connectionStrings>
      <add name="CaseLawContext" providerName="System.Data.SqlClient"
          connectionString="Data Source=(local);Database=CaseLawTest;Integrated Security=True;MultipleActiveResultSets=true"/>
      <!--<add name="CaseLawContext" providerName="System.Data.SqlClient"
            connectionString="Data Source=10.0.0.10;Database=CaseLaw;User Id=caselaw;Password=caselaw;MultipleActiveResultSets=True;"/>-->
      <!--<add name="CaseLawContext"
            providerName="System.Data.SqlClient"
            connectionString="Data Source=10.0.0.10;Database=CaseLaw;User Id=caselaw;Password=caselaw;MultipleActiveResultSets=True;"/>-->
    </connectionStrings>
</configuration>